<%- include('../header') %>
<%- include('../dialog/eliminar') %>
<%- include('../dialog/error') %>
    <header>
        <span class="titulo">salidas</span>
    </header>
    <main>
        <div class="main-header">
            <%- include("../partials/busqueda") %>
            <button id="btn-nuevo" onclick="window.location.href = 'salidas/nuevo'">Nuevo</button>
        </div>
        <div class="table-container">
            <table id="table" >
                <thead>
                    <tr>
                        <th>FECHA</th>
                        <th>CODIGO</th>
                        <th>ARTICULO</th>
                        <th>UND/MED</th>
                        <th>TIP/DOC</th>
                        <th>N°DOC</th>
                        <th>CANT</th>
                        <th>PREC/UNIT</th>
                        <th>PREC/TOT</th>
                        <th>OBSERV</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </main>
<script>document.getElementById("btn-salidas").classList.add("selected");</script>
<script type="module" src="/js/salidas/lista.js"></script>
<%- include('../footer') %>